// Add Project Modal
#addProjectModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            form#addProjectForm(method='POST', action='/projects/add')
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#modalLabel.modal-title.icon.ion-android-add  Add Project
                .modal-body
                    // Add project form contents
                    p.input-group
                        span.input-group-addon
                            i.icon.ion-folder
                        //span.btn.btn-primary.btn-file Browse // Disabled because of security reasons
                            //input(type='file')
                        input.form-control#projectDir(name='projectDir', type='text', placeholder='Enter project directory')
                    p.input-group
                        span.input-group-addon
                            i.icon.ion-android-information
                        input.form-control#projectName(name='projectName', type='text', placeholder='Enter project name')
                    p.input-group
                        span.input-group-addon
                            i.icon.ion-android-mail
                        input.form-control#projectMail(name='projectMail', type='text', placeholder='Enter e-mail for reporting')
                    p.input-group
                        span.input-group-addon
                            i.icon.ion-speakerphone
                        select.selectpicker#projectReportingSwitch(name='projectReportingEnabled', data-width='auto')
                            option(value='On', selected) Automatic Reporting On
                            option(value='Off') Automatic Reporting Off
                    p.input-group
                        span.input-group-addon
                            i.icon.ion-pricetag
                        select.selectpicker#projectTagId(name='projectTagId', data-width='auto')
                            option(value='null', selected) [Optional] Select Project Tag
                            for tag in tags
                                option(value= tag.id, data-icon= tag.icon) #{tag.name}
                    p.input-group
                        span.input-group-addon
                            i.icon.ion-briefcase
                        select.selectpicker#projectInitImport(name='projectInitImport', data-width='auto')
                            option(value='null', selected) [Optional] Select project to import from
                            for project in projects
                                option(value= project.dir)= project.name
                .modal-footer
                    button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Discard
                    button.btn.btn-primary.glyphicon.glyphicon-floppy-disk(type='submit') Save
