// Add Project Task Modal
#addProjectTaskModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            form#addProjectTaskForm(method='POST', action='/projects/addTaskFile')
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#addProjectTaskModalLabel.modal-title.icon.ion-gear-a  Create Custom Task
                .modal-body
                    // Add project task form contents
                    input#projectIdTask(type='hidden', name='projectId', value='')
                    p.input-group
                        span.input-group-addon
                            i.icon.ion-ios7-gear
                        input.form-control#taskName(name='taskName', type='text', placeholder='Enter custom task name')
                .modal-footer
                    button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-primary.glyphicon.glyphicon-save(type='submit') Create