// Add Project Env Modal
#addProjectEnvModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            form#addProjectEnvForm(method='POST', action='/projects/addEnvFile')
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#addProjectEnvModalLabel.modal-title.icon.ion-cloud  Add New Environment
                .modal-body
                    // Add project env form contents
                    input#projectIdEnv(type='hidden', name='projectId', value='')
                    p.input-group
                        span.input-group-addon
                            i.icon.ion-cloud
                        input.form-control#envName(name='envName', type='text', placeholder='Enter environment name')
                .modal-footer
                    button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Cancel
                    button.btn.btn-primary.glyphicon.glyphicon-save(type='submit') Create