// Edit File Modal
#editFileModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            form#editFileForm(method='POST')
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#editFileModalLabel.modal-title Edit File
                .modal-body
                    // WYSIWYG Editor
                    input#orgFile(type='hidden', name='orgFile', value='')
                    textarea#code(name='code', autocapitalize='off', autocorrect='off', wrap='off')
                .modal-footer
                    button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Cancel
                    button#applyFileBtn.btn.btn-success.glyphicon.glyphicon-ok(type='button') Apply
                    button.btn.btn-primary.glyphicon.glyphicon-save(type='submit') Save