extends layout

block content
    // Header
    .jumbotron
        table
            tr
                td
                    img(src='/images/magepanel-128.png', alt='Magallanes')
                td
                    h1= title
                    p
                        | A web panel for controlling your MagePHP projects from a user friendly UI.
                    p
            tr
                td
                    br
                td
                    a.btn.btn-primary.btn-lg(href='https://github.com/erincinci/magepanel', target='_blank', role='button') Learn more »
