extends layout

block content
    .page-header
        h1.icon.ion-stats-bars  #{title}

    // Stats
    .jumbotron
        // All-time Stats
        h2.icon.ion-ios7-stopwatch-outline.text-center  Counters
        | &nbsp;
        #statsComponents(style="width: 100%;")
            table(style="width: 100%")
                tr
                    td(align="center")
                        .input-group
                            i.icon.ion-briefcase  Projects&nbsp;&nbsp;
                            #projectsOdometer(class="odometer")
                        | &nbsp;
                        .input-group
                            i.icon.ion-pricetags  Tags&nbsp;&nbsp;
                            #tagsOdometer(class="odometer")
                    td(align="center")
                        .input-group
                            i.icon.ion-cloud  Project Environments&nbsp;&nbsp;
                            #envOdometer(class="odometer")
                        | &nbsp;
                        .input-group
                            i.icon.ion-ios7-gear  Project Tasks&nbsp;&nbsp;
                            #tasksOdometer(class="odometer")
                    td(align="center")
                        .input-group
                            i.icon.ion-android-mail  Report Mails Sent&nbsp;&nbsp;
                            #mailsOdometer(class="odometer")
                        | &nbsp;
                        .input-group
                            i.icon.ion-paper-airplane  Workflows Run&nbsp;&nbsp;
                            #workflowsOdometer(class="odometer")
