extends layout

block content
    // ----------------------------- DEBUG -----------------------------
    .row.clearfix#envEditUI
        // ---- Left-Side ----
        .col-sm-6
            ol#envEditUILeft
                // Available Tasks
                ol.bs-callout.bs-callout-info.dragdrop#ddAvailableTasks.taskGroup
                    .list-group-item-text.text-center.ion-ios7-gear  Available Tasks
                    li.list-group-item.draggable.small.ion-drag#task-1  Task-1
                    li.list-group-item.draggable.small.ion-drag#task-2  Task-2
                    li.list-group-item.draggable.small.ion-drag#task-3  Task-3
                    li.list-group-item.draggable.small.ion-drag#task-4  Task-4
                    li.list-group-item.draggable.small.ion-drag#task-5  Task-5
                // Trash Area
                .btn.btn-warning.text-center.ion-trash-b(onClick="clearDragDropTrash('ddTrash');", style="width: 100%;")  Empty Trash
                ol.bs-callout.bs-callout-warning.dragdrop#ddTrash(style="margin-top: 0px; opacity: 0.45;")

        // ---- Right-Side ----
        .col-sm-6
            // Deployment
            .panel.panel-default(style="margin-bottom: 5px;")
                .panel-heading.small.ion-paper-airplane  Deployment
                .panel-body
                    // Deploy Options
                    li.list-group-item.small.ion-android-social-user#deployUser  User:&nbsp;&nbsp;
                        a.inlineEdit(href="#") root
                    li.list-group-item.small.ion-folder#deployFromDir  From Dir:&nbsp;&nbsp;
                        a.inlineEdit(href="#") ./
                    li.list-group-item.small.ion-folder#deployToDir  To Dir:&nbsp;&nbsp;
                        a.inlineEdit(href="#") /home/orbitadserving
                    li.list-group-item.small.ion-shuffle#deployStrategy  Strategy:&nbsp;&nbsp;
                        select#deployStrategyPicker.selectpicker(name='deployStrategyPicker')
                            option(value='rsync', selected) Rsync
                            option(value='targz') tar.gz
                            option(value='git-rebase') GIT Rebase
                            option(value='disabled') Disabled
                    li.list-group-item.small#deployExcludes
                        .clearfix.ion-funnel(style="width: 100%;")  Exclude Dirs:&nbsp;&nbsp;
                            input.input-block-level(type="text", data-role="tagsinput")#deployExcludeDirs

            // Releases
            .panel.panel-default(style="margin-bottom: 5px;")
                .panel-heading.ion-ios7-cloud-upload-outline  Releases
                .panel-body
                    // Release Options
                    li.list-group-item.small.ion-checkmark-circled#releasesEnabled  Enabled:&nbsp;&nbsp;
                        input(type="checkbox", data-toggle="toggle", data-size="mini", checked)#releasesEnabledToggle
                    li.list-group-item.small.ion-pound#releasesMax  Max Releases:&nbsp;&nbsp;
                        .input-group.spinner
                            input.form-control#releasesMaxSpinner(type='text', value='8')
                            .input-group-btn-vertical
                                button.btn.btn-default
                                    i.fa.fa-caret-up
                                button.btn.btn-default
                                    i.fa.fa-caret-down
                    li.list-group-item.small.ion-link#releasesSymLink  Symbolic Link:&nbsp;&nbsp;
                        a.inlineEdit(href="#") ads
                    li.list-group-item.small.ion-folder#releasesDir  Directory:&nbsp;&nbsp;
                        a.inlineEdit(href="#") releases

            // Hosts
            .panel.panel-default(style="margin-bottom: 5px;")
                .panel-heading.ion-laptop  Hosts
                    .btn-group.btn-group-sm.pull-right(style="position: relative; top: -5px;")
                        button.btn.btn-sm.btn-info.glyphicon.glyphicon-plus#envEditAddHostBtn(type='button')
                .panel-body
                    #ddHosts

            // Tasks
            .panel.panel-default(style="margin-bottom: 5px;")
                .panel-heading.ion-ios7-gear  Tasks (Applies to all hosts)
                .panel-body
                    // Stages
                    .panel.panel-info(style="margin-bottom: 5px;")
                        .panel-heading Pre-Deploy
                        .panel-body(style="margin-left: 10px;")
                            ol.list-group.dragdrop#ddPreDeploy.taskGroup.envTasks(style="margin-bottom: 5px;")
                    .panel.panel-info(style="margin-bottom: 5px;")
                        .panel-heading On-Deploy
                        .panel-body(style="margin-left: 10px;")
                            ol.list-group.dragdrop#ddOnDeploy.taskGroup.envTasks(style="margin-bottom: 5px;")
                    .panel.panel-info(style="margin-bottom: 5px;")
                        .panel-heading Post-Release
                        .panel-body(style="margin-left: 10px;")
                            ol.list-group.dragdrop#ddPostRelease.taskGroup.envTasks(style="margin-bottom: 5px;")
                    .panel.panel-info(style="margin-bottom: 5px;")
                        .panel-heading Post-Deploy
                        .panel-body(style="margin-left: 10px;")
                            ol.list-group.dragdrop#ddPostDeploy.taskGroup.envTasks(style="margin-bottom: 5px;")

    // -----------------------------------------------------------------

    // Stats
        .jumbotron
        // Date Range & Clear Stats Button
        .row.clearfix
            button#clearStatsBtn.btn.btn-small.btn-warning.ion-ios7-trash-outline(type='button')  Clear All Stats
            #statsDateRange.pull-right(style='cursor: pointer; padding: 5px 10px; border: 1px solid #ccc')
                i.ion-calendar &nbsp;&nbsp;
                    span
                    b.caret

        // All-time Stats
        h3.icon.ion-ios7-stopwatch.text-center  Counters
        .container.container-fluid#statsComponents(style="width: 100%;")
            .row.clearfix(align="center", style="padding-top: 50px")
                .col-md-4
                    .input-group
                        i.icon.ion-briefcase  Projects&nbsp;&nbsp;
                        #projectsOdometer(class="odometer")
                .col-md-4
                    .input-group
                        i.icon.ion-ios7-gear  Project Tasks&nbsp;&nbsp;
                        #tasksOdometer(class="odometer")
                .col-md-4
                    .input-group
                        i.icon.ion-cloud  Project Environments&nbsp;&nbsp;
                        #envOdometer(class="odometer")
            .row.clearfix(align="center", style="padding-top: 20px")
                .col-md-4
                    .input-group
                        i.icon.ion-pricetags  Tags&nbsp;&nbsp;
                        #tagsOdometer(class="odometer")
                .col-md-4
                    .input-group
                        i.icon.ion-android-mail  Report Mails Sent&nbsp;&nbsp;
                        #mailsOdometer(class="odometer")
                .col-md-4
                    .input-group
                        i.icon.ion-paper-airplane  Workflows Run&nbsp;&nbsp;
                        #workflowsOdometer(class="odometer")
            .row.clearfix(align="center", style="padding-top: 20px")
                .col-md-12
                    hr(style='width: 90%; color: gray; height: 1px; background-color:darkgray;')
                    h3.icon.ion-arrow-graph-up-right  Average Deploy Times
                    #avgDeployTimeGraph(style="width: 100%; height: 300px;")
                        i.icon.ion-refreshing(style="margin-top: 150px;")
                        #avgDeployTimeGraphCurtain.chart-curtain.text-info.small Calculating average deploy times..
            .row.clearfix(align="center", style="padding-top: 30px")
                .col-md-12
                    hr(style='width: 90%; color: gray; height: 1px; background-color:darkgray;')
                    h3.icon.ion-pie-graph  Deploys
                    #deploysPie(style="width: 100%; height: 300px;")
                        i.icon.ion-refreshing(style="margin-top: 150px;")
                        #deploysPieCurtain.chart-curtain.text-info.small Calculating deploy statistics..
