extends layout

block content
    // Header
    .jumbotron
        table
            tr
                td
                    img(src='/images/logo.png', alt='Magallanes')
                td
                    h1= title
                    p
                        | A web panel for controlling your MagePHP projects from a user friendly UI.
                    p
            tr
                td
                    br
                td
                    a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
