extends layout

block content
    .page-header
        h1= title
    p
        table
            tr
                td
                    button#mageinfo.btn.btn-default.btn-info(type='button') Mage Version
                td
                    button#mageerror.btn.btn-default.btn-danger(type='button') Mage Error
    .well
        p#console!= content