extends layout

block content
    .page-header
        h1.icon.ion-code= title
    if pathWarning
        .alert.alert-danger(role='alert')
            strong Cygwin directory not found!
                | Please fix it in
                a(href='/setup')  Application Setup
    p
        table
            tr
                td
                    .input-group(style='margin-right:10px')
                        span.input-group-addon
                            i.icon.ion-briefcase
                        select#activeProject.selectpicker(name='activeProject', data-width='150px',onchange='loadEnvs()')
                            option(value='null', selected) Select Project
                            for project in projects
                                option(value= project.id)= project.name
                td
                    .input-group(style='margin-right:10px')
                        span.input-group-addon
                            i.icon.ion-cloud
                        select#activeEnvironment.selectpicker(name='activeEnvironment', data-width='150px',onchange='activateCommandButtons()', disabled)
                            option(value='null', selected) Select Environment
                td
                    .input-group(style='margin-right:10px')
                        span.input-group-addon
                            i.icon.ion-android-promotion
                        select#activeRelease.selectpicker(name='activeRelease', data-width='auto',title='Rollback to selected release',onchange='activateRollbackButton()', disabled)
                            option(value='null', selected) Select Release
                            option(value='0') Current
                            option(value='-1') Previous
                td
                    //button#tailLatestLog.btn.btn-default.btn-success(type='button', style='margin-right:10px', data-toggle='modal') Log
                    button#clearConsole.btn.btn-default.btn-warning.ion-ios7-trash-outline(type='button', style='margin-right:10px')  Clear
                    //button#mageinfo.btn.btn-default.btn-info(type='button', style='margin-right:10px') Mage Version
                    button#mageReleases.btn.btn-default.btn-info.ion-navicon-round(type='button',style='margin-right:10px',disabled)  Releases
                    button#mageRollback.btn.btn-default.btn-info.ion-reply-all(type='button',style='margin-right:10px',disabled)  Rollback
                    button#mageAddToFlow.btn.btn-default.btn-success.ion-gear-a(type='button',title='Add to workflow', style='margin-right:10px', disabled)  Queue
                    button#mageDeploy.btn.btn-default.btn-success.ion-paper-airplane(type='button',title='Deploy project to selected environment',disabled)  Deploy
    //.well
    .bs-callout.bs-callout-info#consoleFrame(Style='height: 65%; overflow: auto;')
        p#console!= content
    .spacer
        br

    // ----------------
    // Workflow jsPanel
    div#workflowPanel

    // -------------
    // Modal Windows
    include modals/tailLogFile
