extends layout

block content
    .page-header
        h1.icon.ion-code= title
    p
        button#mageinfo.btn.btn-default.btn-info(type='button',style='margin-right:10px') Mage Version
        button#mageerror.btn.btn-default.btn-danger(type='button') Mage Error
    .well
        p#console!= content