extends layout

block content
    .page-header
        h1.icon.ion-document= title

    // Columns
    .row
        // Available projects
        .col-lg-6
            ul.list-group#projectsListLogs
                for project in projects
                    li.list-group-item(id= project.id) #{project.name}
                else
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Projects
                        .panel-body
                            p No projects added yet..
        // Selected project logs
        .col-lg-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title Project Logs
                .panel-body
                    p#projectLogs Select a project..

    // -------------
    // Modal Windows
    include modals/tailLogFile