extends layout

block content
    .page-header
        h1.icon.ion-code  #{title}
    if pathWarning
        .alert.alert-danger(role='alert')
            strong Cygwin directory not found!
                | Please fix it in
                a(href='/setup')  Application Setup

    // Button group
    p
        table
            tr
                td
                    // For determining untagged projects
                    - var tagIdArray = [];
                    for tag in tags
                        - tagIdArray.push(tag.id);

                    // Project selection
                    .input-group(style='margin-right:10px')
                        span.input-group-addon
                            i.icon.ion-briefcase
                        select#activeProject.selectpicker(name='activeProject', onchange='loadEnvs()', data-size="10")
                            option(value='null', selected) Select Project
                            for tag in tags
                                optgroup(label= tag.name, data-icon= tag.icon)
                                    for project in projects
                                        if project.tagId == tag.id
                                            option(value= project.id)= project.name
                            optgroup(label="Untagged Projects", data-icon="ion-more")
                                for project in projects
                                    if tagIdArray.indexOf(project.tagId) < 0
                                        option(value= project.id)= project.name
                td
                    // Environment selection
                    .input-group(style='margin-right:10px')
                        span.input-group-addon
                            i.icon.ion-cloud
                        select#activeEnvironment.selectpicker(name='activeEnvironment', onchange='activateCommandButtons()', width='120px', disabled)
                            option(value='null', selected) Select Environment
                td
                    // Release selection
                    .input-group(style='margin-right:10px')
                        span.input-group-addon
                            i.icon.ion-android-promotion
                        select#activeRelease.selectpicker(name='activeRelease' ,title='Rollback to selected release',onchange='activateRollbackButton()', width='120px', disabled)
                            option(value='null', selected) Select Release
                            option(value='0') Current
                            option(value='-1') Previous
                td
                    .btn-toolbar
                        // Console related buttons
                        button#clearConsole.btn.btn-default.btn-warning.ion-ios7-trash-outline(type='button', rel='tooltip', data-original-title='Clear Console')
                        //button#mageinfo.btn.btn-default.btn-warning.ion-help(type='button', rel='tooltip', data-original-title='Show Info')
                        button#tailLatestLog.btn.btn-default.btn-primary.ion-document(type='button', title='Tail latest log file of the project', data-toggle='modal')  Log
                        button#mageReleases.btn.btn-default.btn-info.ion-navicon-round(type='button', disabled)  Releases
                        button#mageRollback.btn.btn-default.btn-info.ion-reply-all(type='button', disabled)  Rollback
                        button#mageAddToFlow.btn.btn-default.btn-success.ion-gear-a(type='button', title='Add to workflow', disabled)  Queue
                        button#mageDeploy.btn.btn-default.btn-success.ion-paper-airplane(type='button', title='Deploy project to selected environment', disabled)  Deploy

    // Progress bar
    .progress
        #mageProgressBar.progress-bar.progress-bar-striped.active(style="width: 0%;")
            span.sr-only Action progress

    // Console Window
    .bs-callout.bs-callout-info#consoleFrame(Style='height: 65%; overflow: auto;')
        p(style="font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;")#console!= content
    .spacer
        br

    // ----------------
    // Workflow jsPanel
    div#workflowPanel

    // -------------
    // Modal Windows
    include modals/tailLogFile
