extends layout

block content
    .page-header
        h1.icon.ion-code= title
    .row
        .col-lg-6
            .list-group
                a.list-group-item.active(href='#')
                    h4.list-group-item-heading List group item heading
                    p.list-group-item-text
                        | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                    a.list-group-item(href='#')
                        h4.list-group-item-heading List group item heading
                        p.list-group-item-text
                            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                    a.list-group-item(href='#')
                        h4.list-group-item-heading List group item heading
                        p.list-group-item-text
                            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        .col-lg-6
            .well
                p Project details..