extends layout

block content
    .page-header
        h1.icon.ion-code= title

    // Buttons
    p
        button.btn.btn-default.btn-info.icon.ion-android-add(data-toggle='modal', data-target='#addProjectModal', type='button', style='margin-right:10px')
        button#delproject.btn.btn-default.btn-danger.icon.ion-android-remove(type='button')

    // Columns
    .row
        .col-lg-6
            .list-group
                a.list-group-item.active(href='#')
                    h4.list-group-item-heading Project Name 1
                    p.list-group-item-text Project Description 1
                a.list-group-item(href='#')
                    h4.list-group-item-heading Project Name 2
                    p.list-group-item-text Project Description 2
                a.list-group-item(href='#')
                    h4.list-group-item-heading Project Name 3
                    p.list-group-item-text Project Description 3
        .col-lg-6
            .panel.panel-primary
                .panel-heading
                    h3.panel-title Project Details
                .panel-body
                    p ...

    // Modal Windows
    #addProjectModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                form#addProjectForm(method='POST', action='/projects/add')
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#modalLabel.modal-title Add Project
                    .modal-body
                        // Add project form contents
                        p.input-group
                            span.input-group-addon
                                i.icon.ion-folder
                            //span.btn.btn-primary.btn-file Browse // Disabled because of security reasons
                                //input(type='file')
                            input.form-control#projectDir(name='projectDir', type='text', placeholder='Enter project directory')
                        p.input-group
                            span.input-group-addon
                                i.icon.ion-android-information
                            input.form-control#projectName(name='projectName', type='text', placeholder='Enter project name')
                    .modal-footer
                        button.btn.btn-default.glyphicon.glyphicon-exclamation-sign(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary.glyphicon.glyphicon-save(type='submit') Save