extends layout

block content
    .page-header
        h1.icon.ion-settings= title

    form#saveSettings(method='POST', action='/setup/save')
        if winEnv
            .panel.panel-default
                .panel-heading
                    h3.panel-title Windows Environment Setup
                .panel-body
                    .input-group
                        span.input-group-addon
                            i.icon.ion-social-windows
                        input.form-control(name='cygwinBin', type='text', value='C:\cygwin64\bin', placeholder='cygwin bin folder')

        .panel.panel-default
            .panel-heading
                h3.panel-title Sample Mac OS Environment Setup
            .panel-body
                .input-group
                    span.input-group-addon
                        i.icon.ion-social-apple
                    input.form-control(name='sampleInput', type='text', value='test', placeholder='bla bla')

        button.btn.btn-default.btn-success.glyphicon.glyphicon-save(type='submit', style='float:right;') Save