html, body { height: 100%; }
body > #container { height: auto; min-height: 100%; }

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.main-container {
    height: 100%;
    padding-bottom: 30px;
}

#projectDetail {
    line-height: 2em;
}

/* Edit File Modal Size */
#editFileModal .modal-dialog {
    width: 75%;
}
@media screen and (min-width: 768px) {
    #editFileModal .modal-dialog  {
        width: 900px;
    }
}

/* Imageless Ajax Loader */
#ajaxloader {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin: 0 0 0 -15px;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #eee;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); opacity: 0.4; }
    50%  { -webkit-transform: rotate(180deg); opacity: 1; }
    to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); opacity: 0.4; }
    50%  { -moz-transform: rotate(180deg); opacity: 1; }
    to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); opacity: 0.4; }
    50%  { -ms-transform: rotate(180deg); opacity: 1; }
    to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin {
    from { -o-transform: rotate(0deg); opacity: 0.4; }
    50%  { -o-transform: rotate(180deg); opacity: 1; }
    to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin {
    from { transform: rotate(0deg); opacity: 0.2; }
    50%  { transform: rotate(180deg); opacity: 1; }
    to   { transform: rotate(360deg); opacity: 0.2; }
}

/* File Selection */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

/* Footer */
#footer {
    /*clear: both;
    position: relative;
    z-index: 10;
    height: 2em;
    margin-top: -2em;*/
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid transparent;
}

/* Background Image */
#bg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
}

/* Simple Bootstrap Theme */
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.theme-showcase .navbar .container {
    width: auto;
}

/* Loading Panel */
#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#wait {
    z-index: 999;
    width: 40px;
    height: 60px;
    border: 0px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0px;
    position:fixed;
}

.console-pointer {
    font-size: 10px;
    font-weight: bold;
}